{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles.css')}}">
<!--google fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
    <h1>TIC/TAC/TOE</h1>
    <h3 id="x-score">Xs:<br><span class="score_text">{{ p1_score }}</span></h3>
    <h2 id="game-status">{{ status }}</h2>
    <h3 id="o-score">Os:<br><span class="score_text">{{ p2_score }}</span></h3>
    <div class="container">
        {% for row_num in range(0, 7, 3) %}
            <div class="row">
                {% for num in range(1, 4) %}
                    {% set new_num = num + row_num %}
                    <div class="col-lg-4 square" id="sq-{{ new_num }}">
                        {% if all_squares[(num - 1) + row_num] != 'X' and all_squares[(num - 1) + row_num] != 'O'%}
                            <a href="/?turn={{ new_num }}" class="blank_sq" name="{{ new_num }}">
                                {{ all_squares[(num - 1) + row_num] }}</a>
                        {% elif winning_combo|length == 3 and new_num in winning_combo %}
                            <a href="/?turn={{ new_num }}" class="winning_num" name="{{ new_num }}">
                                {{ all_squares[(num - 1) + row_num] }}</a>
                        {% else %}
                            <a href="/?turn={{ new_num }}" name="{{ new_num }}">
                                {{ all_squares[(num - 1) + row_num] }}</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
    <form action="{{ url_for('home') }}" method="POST">
        <button type="submit" class="btn btn-outline-dark">New Game</button>
    </form>
{% endblock %}
